regionkod=regionkod_location
01=Region Stockholm
03=Region Uppsala
04=Region Sörmland
05=Region Östergötland
06=Region Jönköpings län
07=Region Kronoberg
08=Region Kalmar län
09=Region Gotland
10=Region Blekinge
12=Region Skåne
13=Region Halland
14=Västra Götalandsregionen
17=Region Värmland
18=Region Orebro lan
19=Region Västmanland
20=Region Dalarna
21=Region Gävleborg
22=Region Västernorrland
23=Region Jämtland Härjedalen
24=Region Västerbotten
25=Region Norrbotten
SE110=Växjö
SE120=Malmö
SE240=Kalmar
SE320=Borås
SE450=Karlstad
SE250=Halmstad
SE310=Trollhättan NÄL
SE300=Sahlgrenska
SE230=Karlskrona
SE540=Visby
SE100=Karolinska
SE130=Unilabs
SE140=SYNLAB
SE330=Unilabs
SE350=Jönköping
SE400=Linköping
SE420=Unilabs
SE430=Västerås
SE440=Orebro
SE600=Uppsala
SE610=Gävle
SE620=Falun
SE700=Sundsvall
SE710=Östersund
SE720=Umeå
SE730=Sunderby, Luleå
SENPC=National Pandemic Center
SEADG=A05diagnostics
SEABC=ABC lab
SEDNC=Dynamic Code
