regionkod=regionkod_location
01=Stockholm
03=Uppsala
04=Sörmland
05=Östergötland
06=Jönköpings län
07=Kronoberg
08=Kalmar län
09=Gotland
10=Blekinge
12=Skåne
13=Halland
14=Västra Götalandsregionen
17=Värmland
18=USO Universitetssjukhuset Orebro, Box 1500, 701 15 Orebro, Sweden
19=Västmanland
20=Dalarna
21=Gävleborg
22=Västernorrland
23=Jämtland Härjedalen
24=Västerbotten
25=Norrbotten
SE110=Växjö
SE120=Malmö
SE240=Kalmar
SE320=Borås
SE450=Karlstad
SE250=Halmstad
SE310=Trollhättan NÄL
SE300=Sahlgrenska
SE230=Karlskrona
SE540=Visby
SE100=Karolinska
SE130=Unilabs
SE140=SYNLAB
SE330=Unilabs
SE350=Jönköping
SE400=Linköping
SE420=Unilabs
SE430=Västerås
SE440=USO Universitetssjukhuset Orebro, Box 1500, 701 15 Orebro, Sweden
SE600=Uppsala
SE610=Gävle
SE620=Falun
SE700=Sundsvall
SE710=Östersund
SE720=Umeå
SE730=Sunderby, Luleå
SENPC=National Pandemic Center
SEADG=A05diagnostics
SEABC=ABC lab
SEDNC=Dynamic Code
